@page
@model TaskManager.Web.Pages.Tasks.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Task: @Model.TaskItem.Id</h3>
<form method="post">
    <input type="hidden" asp-for="TaskItem.Id" />
    <div class="form-group">
        <label asp-for="TaskItem.Title"></label>
        <input type="text" autocomplete="off" class="form-control" asp-for="TaskItem.Title" />
        <span asp-validation-for="TaskItem.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskItem.Status"></label>
        <select class="form-control" type="text" asp-for="TaskItem.Status" asp-items="@Model.TaskStatusList"></select>
        <span asp-validation-for="TaskItem.Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskItem.Priority"></label>
        <select class="form-control" type="text" asp-for="TaskItem.Priority" asp-items="@Model.TaskPriorityList"></select>
        <span asp-validation-for="TaskItem.Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskItem.DueBy"></label>
        <input type="date" asp-for="TaskItem.DueBy" class="form-control" />
        <span asp-validation-for="TaskItem.DueBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskItem.Description"></label>
        <textarea autocomplete="off" class="form-control" rows="5" asp-for="TaskItem.Description"></textarea>
        <span asp-validation-for="TaskItem.Description" class="text-danger"></span>
    </div>
    <a class="btn btn-outline-primary" asp-page="./List">Go Back To List</a>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

